DRONE_HOST={{ drone_host }}
DRONE_GITHUB_CLIENT={{ drone_github_client }}
DRONE_GITHUB_SECRET={{ drone_github_secret }}
DRONE_SECRET={{ drone_secret }}
DRONE_ORGS={{ drone_orgs }}
DRONE_ADMIN={{ drone_admin }}
