[Unit]
Requires=docker.service
After=docker.service

[Service]
User=rhobot
EnvironmentFile={{ rhobot_checkout_dir }}/rhobot.env
WorkingDirectory={{ rhobot_checkout_dir }}/rhobot
ExecStart=/home/{{ rhobot_user }}/.local/bin/pipenv run {{ rhobot_checkout_dir }}/rhobot/rhobot.py
