GITHUB_PERSONAL_TOKEN={{ rhobot_github_personal_token }}
GITHUB_WEBHOOK_SECRET={{ rhobot_github_webhook_secret }}
DRONE_SERVER={{ drone_server }}
DRONE_TOKEN={{ drone_token }}
DRONE_CMD=/home/{{ rhobot_user }}/.local/bin/drone
LOGURU_FORMAT="{time:YYYY-MM-DD HH:mm:ss} {level} {message}"
PYTHONUNBUFFERED=1
