GITHUB_PERSONAL_TOKEN={{ rhobot_github_personal_token }}
GITHUB_WEBHOOK_SECRET={{ rhobot_github_webhook_secret }}
SLOW_COOKING_DRONE_SERVER={{ slow_cooking_drone_server }}
SLOW_COOKING_DRONE_TOKEN={{ slow_cooking_drone_token }}
PERF_HARNESS_DRONE_SERVER={{ perf_harness_drone_server }}
PERF_HARNESS_DRONE_TOKEN={{ perf_harness_drone_token }}
DRONE_CMD=/home/{{ rhobot_user }}/.local/bin/drone
LOGURU_FORMAT="{time:YYYY-MM-DD HH:mm:ss} {level} {extra[delivery_id]} {extra[event]} {extra[ref]} {message}"
PYTHONUNBUFFERED=1
